﻿<p></p>

<hr/>

<div class="form-horizontal">



    <label for="tenantIds">Tenant Urls</label>



    <textarea class="form-control col-sm-12" id="tenantIds" rows="10"></textarea>

    <p></p>
    <p>
        <button class="btn btn-success" id="btnQuery">Get Tenant Ids</button>
    </p>

    <hr/>

    <h4>Results:</h4>

    <ul id="resultsList" class="list-group">
        
    </ul>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72409906-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">

        $(function() {
            $('#btnQuery').click(function() {
                sendQuery();
            });
        });

        function sendQuery() {

            var eventSetting = {eventCategory: 'sptenant', eventAction: 'lookup', eventLabel: 'default', eventValue: 1 };

            ga('send', 'event', eventSetting.eventCategory, eventSetting.eventAction, eventSetting.eventLabel, eventSetting.eventValue);

            var urls = $('#tenantIds').val().split("\n");

            $('#resultsList').empty();

            var requestData = JSON.stringify({ TenantUrls: urls, RequestId: new Date().getTime() });
            ////var requestData = { TenantUrls: urls, RequestId: new Date().getTime() };

            $.post("/api/TenantId/RetrieveTenantIds", requestData,
                function (data) {
                    console.log("TenantIdUrlPairs", data.TenantIdUrlPairs);


                    for (var i = 0; i < data.TenantIdUrlPairs.length; i++) {
                        var row = data.TenantIdUrlPairs[i];
                        $('#resultsList').append($('<li class="list-group-item"></li>').html('<i>' + row.Url + '</i> <strong>:</strong> ' + row.TenantId));
                    }

                }).fail(function(err) {
                    console.log(err.responseText);

                    $('#resultsList').append($('<li class="list-group-item"></li>').text(err.responseText));
            });
        }
    </script>
</div>


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
