﻿@using Newtonsoft.Json
@model IList<SharePointUtils.Models.TenantUrl>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
<h4>
    This is web app is pretending to be Service Lookup. The request url is in the format <i>'/api/ServiceDiscovery/{tenantId}'</i>. Example:
</h4>

<ul>
    @foreach (var tenantUrl in Model)
    {
        var url = "/api/ServiceDiscovery/" + tenantUrl.TenantId;

        <li>
            <span>
                <a href="@(url)" target="_blank">
                    @(url)
                </a>
            </span>
        </li>    
    }
    
</ul>

<h4>You may update the mapping here</h4>
<textarea cols="100" rows="20" id="RegionalFormsRemoteAppUrls">@Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented))</textarea>

<p></p>
<button id="btnUpdate">
    Update
</button>

<p id="errorMsg"></p>

<script type="text/javascript">
    $(function() {

        function update() {
            $('#errorMsg').text('');
            $.post("/api/ServiceDiscovery/Update",
                $('#RegionalFormsRemoteAppUrls').val(), function() {
                    alert("saved!");

                    window.location.reload();
                }).fail(function(error) {

                $('#errorMsg').text(error.responseText);
            });
        }

        $('#btnUpdate').click(update);
    });
</script>


    <p><a href="/Home/Default">Tenant Ids Check</a></p>
</body>
</html>

